* {
  margin: 0;
  padding: 0;
}
#body {
  background-color: lightblue;
}
#wrap {
  padding: 10px;
  padding-bottom: 20px;
  width: 1000px;
  margin: 0 auto;
}
header {
  height: 120px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: lightgray;
  color: white;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: white;
}
main {
  display: flex;
  padding: 20px;
}
aside {
  border: 1px solid green;
  padding: 20px 15px;
  margin-right: 20px;
}
img {
  width: 230px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  margin-left: 10px;
}
footer {
  background-color: lightgrey;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: black;
}
